<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Craftsy</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/3f21023fe6.js" crossorigin="anonymous"></script>
</head>

<body class="home">
    <header class="home__header">
        <div class="home__header--top">
            <a href="/"><img src="/img/logo.png" alt=""></a>
            <button class="home__header--bars">
                <i class="fas fa-bars fa-lg"></i>
            </button>
        </div>
        <nav class="home__header--menu">
            <ul>
                <li><a href="">smartphones</a></li>
                <li><a href="">tablets</a></li>
                <li><a href="">computadoras</a></li>
            </ul>
            <ul>
                <li><a href="/login">login</a></li>
                <li><a href="/register">registro</a></li>
            </ul>
        </nav>
    </header>
    <div class="home__banner">
        <div id="carouselExampleIndicators" class="carousel slide">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                    aria-label="Slide 4"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active home__banner--box-image" style="
              background-image: url('/img/banner/banner_1.jpg');
              ">
                </div>
                <div class="carousel-item home__banner--box-image" style="
              background-image: url('/img/banner/banner_2.jpg');
              ">
                </div>
                <div class="carousel-item home__banner--box-image" style="
              background-image: url('/img/banner/banner_3.jpg');
              ">
                </div>
                <div class="carousel-item home__banner--box-image" style="
              background-image: url('/img/banner/banner_4.jpg');
              ">
                </div>

            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <div class="home__carousel">
        <div class="glider-contain">
            <div class="glider">
                <div>
                    <article class="home__carousel__article">
                        <img src="/img/img-phone-01.jpg" alt="Imagen phone 1">
                        <div class="home__carousel__article--description">
                            <h4>Nombre del producto</h4>
                        </div>

                    </article>
                </div>
                <div>
                    <article class="home__carousel__article">
                        <img src="/img/img-phone-02.jpg" alt="Imagen phone 2">
                        <div class="home__carousel__article--description">
                            <h4>Nombre del producto</h4>
                        </div>

                    </article>
                </div>
                <div>
                    <article class="home__carousel__article">
                        <img src="/img/img-phone-03.jpg" alt="Imagen phone 3">
                        <div class="home__carousel__article--description">
                            <h4>Nombre del producto</h4>
                        </div>

                    </article>
                </div>
                <div>
                    <article class="home__carousel__article">
                        <img src="/img/img-phone-01.jpg" alt="Imagen phone 1">
                        <div class="home__carousel__article--description">
                            <h4>Nombre del producto</h4>
                        </div>

                    </article>
                </div>
                <div>
                    <article class="home__carousel__article">
                        <img src="/img/img-phone-01.jpg" alt="Imagen phone 1">
                        <div class="home__carousel__article--description">
                            <h4>Nombre del producto</h4>
                        </div>

                    </article>
                </div>
                <div>
                    <article class="home__carousel__article">
                        <img src="/img/img-phone-02.jpg" alt="Imagen phone 2">
                        <div class="home__carousel__article--description">
                            <h4>Nombre del producto</h4>
                        </div>

                    </article>
                </div>
                <div>
                    <article class="home__carousel__article">
                        <img src="/img/img-phone-03.jpg" alt="Imagen phone 3">
                        <div class="home__carousel__article--description">
                            <h4>Nombre del producto</h4>
                        </div>

                    </article>
                </div>
                <div>
                    <article class="home__carousel__article">
                        <img src="/img/img-phone-01.jpg" alt="Imagen phone 1">
                        <div class="home__carousel__article--description">
                            <h4>Nombre del producto</h4>
                        </div>

                    </article>
                </div>
            </div>

            <button aria-label="Previous" class="glider-prev">«</button>
            <button aria-label="Next" class="glider-next">»</button>
            <div role="tablist" class="dots"></div>
        </div>
    </div>
    <div class="home__box">

        <main class="home__main">
            <article class="home__main__article">
                <img src="/img/img-phone-01.jpg" alt="Imagen phone 1">
                <div class="home__main__article--description">
                    <h4>Nombre del producto</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, quas.</p>
                    <a href="">ver más</a>
                </div>

            </article>
            <article class="home__main__article">
                <img src="/img/img-phone-02.jpg" alt="Imagen phone 2">
                <div class="home__main__article--description">
                    <h4>Nombre del producto</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, quas.</p>
                    <a href="">ver más</a>
                </div>

            </article>
            <article class="home__main__article">
                <img src="/img/img-phone-03.jpg" alt="Imagen phone 3">
                <div class="home__main__article--description">
                    <h4>Nombre del producto</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, quas.</p>
                    <a href="">ver más</a>
                </div>

            </article>
            <article class="home__main__article">
                <img src="/img/img-phone-01.jpg" alt="Imagen phone 1">
                <div class="home__main__article--description">
                    <h4>Nombre del producto</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, quas.</p>
                    <a href="">ver más</a>
                </div>

            </article>
            <article class="home__main__article">
                <img src="/img/img-phone-02.jpg" alt="Imagen phone 2">
                <div class="home__main__article--description">
                    <h4>Nombre del producto</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, quas.</p>
                    <a href="">ver más</a>
                </div>

            </article>
            <article class="home__main__article">
                <img src="/img/img-phone-03.jpg" alt="Imagen phone 3">
                <div class="home__main__article--description">
                    <h4>Nombre del producto</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum, quas.</p>
                    <a href="">ver más</a>
                </div>
            </article>
        </main>
        <aside class="home__aside">
            <section class="home__aside__section">
                <h3>Tutoriales</h3>
                <article class="home__aside__section__article">
                    <img src="/img/aside-01.jpg" alt="Imagen tutorial 1">
                    <h5>Título del tutorial de reparación</h5>
                </article>
                <article class="home__aside__section__article">
                    <img src="/img/aside-02.jpg" alt="Imagen tutorial 2">
                    <h5>Título del tutorial de reparación</h5>
                </article>
                <article class="home__aside__section__article">
                    <img src="/img/aside-03.jpg" alt="Imagen tutorial 3">
                    <h5>Título del tutorial de reparación</h5>
                </article>
                <article class="home__aside__section__article">
                    <img src="/img/aside-04.jpg" alt="Imagen tutorial 4">
                    <h5>Título del tutorial de reparación</h5>
                </article>
            </section>
            <section class="home__aside__section">
                <h3>Publicidad</h3>
                <div class="home__aside__section--ads">
                    <img src="/img/ad-01.jpg" alt="imagen publicidad 1">
                    <img src="/img/ad-02.jpg" alt="imagen publicidad 2">
                </div>
            </section>
        </aside>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <script src="/js/glider.js"></script>
    <script>
        window.addEventListener("load", function () {
            new Glider(document.querySelector(".glider"), {
                slidesToShow: 1,
                dots: '.dots',
                arrows: {
                    prev: '.glider-prev',
                    next: '.glider-next'
                },
                draggable: true,
                responsive: [
                    {
                        // screens greater than >= 775px
                        breakpoint: 481,
                        settings: {
                            // Set to `auto` and provide item width to adjust to viewport
                            slidesToShow: 3,
                            slidesToScroll: 1,
                            duration: 0.25,
                            itemWidth: 150,

                        }
                    }, {
                        // screens greater than >= 1024px
                        breakpoint: 769,
                        settings: {
                            slidesToShow: 3,
                            slidesToScroll: 1,
                            duration: 0.25,
                            itemWidth: 100,

                        }
                    }
                ]
            });
        });
    </script>
</body>

</html>