<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciá sesión</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/3f21023fe6.js" crossorigin="anonymous"></script>
</head>
<body class="login">
    <header class="home__header">
        <div class="home__header--top">
            <a href="/"><img src="/img/logo.png" alt=""></a>
            <button class="home__header--bars">
                <i class="fas fa-bars fa-lg"></i>
            </button>
        </div>
        <nav class="home__header--menu">
            <ul>
                <li><a href="">smartphones</a></li>
                <li><a href="">tablets</a></li>
                <li><a href="">computadoras</a></li>
            </ul>
            <ul>
                <li><a href="/login">login</a></li>
                <li><a href="/register">registro</a></li>
            </ul>
        </nav>
    </header>
    <main class="container">
        <div class="row">
            <div class="col-12 col-md-10 col-lg-6 mx-auto">
                <div class="card shadow">
                  <div class="card-body">
                    <h3>Iniciá sesión</h3>
                    <hr>
                    <form class="row" action="">
                        <div class="col-12 mb-3">
                            <label class="form-label" for="email">Email</label>
                            <input class="forms__control--input" type="email" id="email" name="email">
                        </div>
                        <div class="col-12 mb-3">
                            <label class="form-label" for="password">Contraseña</label>
                            <input class="forms__control--input" type="password" id="password" name="password">
                            <a class="text-dark small" href="">Olvidé mi contraseña</a>
                        </div>
                      
                        <div class="d-flex justify-content-around">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="remember">
                                <label class="form-check-label" for="remember">
                                  Recordame
                                </label>
                              </div>
                            <button class="buttons__primary">Ingresá</button>
                        </div>
                    </form>
                  </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>