<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi perfil</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/3f21023fe6.js" crossorigin="anonymous"></script>
</head>
<body class="register">
    <header class="home__header">
        <div class="home__header--top">
            <a href="/"><img src="/img/logo.png" alt=""></a>
            <button class="home__header--bars">
                <i class="fas fa-bars fa-lg"></i>
            </button>
        </div>
        <nav class="home__header--menu">
            <ul>
                <li><a href="">smartphones</a></li>
                <li><a href="">tablets</a></li>
                <li><a href="">computadoras</a></li>
            </ul>
            <ul>
                <li><a href="/login">login</a></li>
                <li><a href="/register">registro</a></li>
            </ul>
        </nav>
    </header>
    <main class="container">
        <div class="row">
            <div class="col-12 col-md-10 col-lg-8 mx-auto">
                <div class="card shadow">
                  <div class="card-body">
                    <h3>Mi perfil</h3>
                    <hr>
                    <form class="row" action="">
                        <div class="col-12 col-md-6 mb-3">
                            <label class="form-label" for="name">Nombre</label>
                            <input class="form-control" type="text" id="name" name="name">
                        </div>
                        <div class="col-12 col-md-6 mb-3">
                            <label class="form-label" for="surname">Apellido</label>
                            <input class="form-control" type="text" id="surname" name="surname">
                        </div>
                        <div class="col-12 col-md-6 mb-3">
                            <label class="form-label" for="birthday">Cumpleaños</label>
                            <input class="form-control" type="date" id="birthday" name="birthday">
                        </div>
                        <div class="col-12 col-md-6 mb-3">
                            <label class="form-label" for="gender">Género</label>
                            <select class="form-select" name="gender" id="gender">
                                <option selected hidden value="">Seleccione su género</option>
                                <option value="v">Hombre</option>
                                <option value="m">Mujer</option>
                                <option value="o">Prefiero no decirlo</option>
                            </select>
                        </div>
                        <div class="col-12 col-md-6 mb-3">
                            <label class="form-label" for="birthday">Preferencias</label>
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" value="" id="smartphones" name="preference">
                                        <label class="form-check-label" for="smartphones">
                                          Smartphones
                                        </label>
                                      </div>
                                      <div class="form-check">
                                        <input class="form-check-input" type="radio" value="" id="tablets" name="preference">
                                        <label class="form-check-label" for="tablets">
                                          Tablets
                                        </label>
                                      </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" value="" id="laptos" name="preference">
                                        <label class="form-check-label" for="laptos">
                                          Computadoras
                                        </label>
                                      </div>
                                      <div class="form-check">
                                        <input class="form-check-input" type="radio" value="" id="all" name="preference">
                                        <label class="form-check-label" for="all">
                                          Todos
                                        </label>
                                      </div>
                                </div>
                                 
                            </div>
                        </div>
                        <div class="col-12 col-md-6 mb-3">
                            <label class="form-check-label" for="about">
                                Acerca de mí
                              </label>
                            <textarea style="resize: none;" name="about" id="about" rows="5" class="form-control"></textarea>
                        </div>
                        <div class="d-flex justify-content-end">
                            <button class="btn btn-dark">Registrate</button>
                        </div>
                    </form>
                  </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>