* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

li{
    list-style: none;
}

a {
    text-decoration: none;
    color: #ffffff;
}


body {
    background-image: url('/images/bg-2.png');
    font-family: 'lato';
    max-width: 980px;
    margin: 0 auto;
}