.home__banner {
  width: 100%;
  display: none;
}

.home__box {
  margin-top: 30px;
}

.home__main {
  background-color: #ffffff;
  padding: 10px;
  margin: 0 auto 30px;
  width: 90%;
}

.home__main__article {
  width: 100%;
  background-color: #ffffff;
}

.home__carousel__article {
  width: 90%;
  padding: 20px;
}

.home__carousel__article img {
  width: 100%;
  height: 220px;
  object-fit: contain;
}
.home__carousel__article h4 {
  margin: 20px 0;
  text-align: center;
}

.home__main__article {
  position: relative;
}

.home__main__article img {
  width: 100%;
  height: 300px;
  object-fit: contain;
}

.home__main__article--description {
  margin: 20px 0;
}

.home__main__article--discount  {
  background-color: red;
  color: white;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  top: 35px;
  right: 15px;
}

.home__main__article--description p {
  margin: 10px 0;
}

.home__main__article--description a {
  display: inline-block;
  padding: 8px;
  background-color: orangered;
}

.home__aside__section h3 {
  background-color: #ffffff;
  padding: 10px;
  font-weight: 900;
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid cadetblue;
}

.home__aside {
  width: 90%;
  margin: 0 auto;
}

.home__aside__section {
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
}

.home__aside__section__article {
  display: flex;
  gap: 10px;
  padding: 10px;
  align-items: center;
  background-color: #ffffff;
  width: 100%;
  border: 1px solid gray;
  margin-bottom: 10px;
}

.home__aside__section__article--name span {
  opacity: 0;
  transition: all 1s ease;
}

.home__aside__section__article--name:hover span {
  opacity: 1;
}

.home__aside__section--ads {
  padding: 10px;
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
}

.home__aside__section--ads img {
  width: 100%;
}

@media (min-width: 481px) {
  .home__main {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    gap: 2%;
  }

  .home__main__article {
    width: 49%;
  }

  .home__aside__section__article {
    width: 49%;
  }

  .home__aside__section--ads {
    gap: 2%;
  }

  .home__aside__section--ads img {
    width: 49%;
  }
}

@media (min-width: 769px) {
  .home__box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .home__banner {
    display: block;
  }

  .home__banner--box-image {
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .home__main {
    width: 69%;
    margin: 0 0 30px;
  }

  .home__aside {
    width: 29%;
    margin: 0;
  }

  .home__aside__section__article {
    width: 100%;
  }

  .home__aside__section--ads {
    gap: 20px;
  }

  .home__aside__section--ads img {
    width: 100%;
  }
}
