@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import './general.css';
@import './glider.css';
@import './header.css';
@import './home.css';
@import './forms.css';
@import './buttons.css';