<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head',{
        title : 'PROFILE'
    }) %>

<body class="register">
    <%- include('partials/header') %>

    <main class="container mt-5">
        <div class="row">
            <div class="col-12 col-md-10 col-lg-8 mx-auto">
                <div class="card shadow">
                  <div class="card-body">
                    <h3>Mi perfil</h3>
                    <hr>
                    <form class="row" action="/users/update-profile?_method=PUT" method="POST">
                        <div class="col-12 col-md-6 mb-3">
                            <label class="form-label" for="name">Nombre</label>
                            <input class="form-control" type="text" id="name" name="name" value="<%= name %>">
                        </div>
                        <div class="col-12 col-md-6 mb-3">
                            <label class="form-label" for="surname">Apellido</label>
                            <input class="form-control" type="text" id="surname" name="surname" value="<%= surname %>">
                        </div>
                        <div class="col-12 col-md-6 mb-3">
                            <label class="form-label" for="birthday">Cumpleaños</label>
                            <input class="form-control" type="date" id="birthday" name="birthday">
                        </div>
                        <div class="col-12 col-md-6 mb-3">
                            <label class="form-label" for="gender">Género</label>
                            <select class="form-select" name="gender" id="gender">
                                <option selected hidden value="">Seleccione su género</option>
                                <option value="v">Hombre</option>
                                <option value="m">Mujer</option>
                                <option value="o">Prefiero no decirlo</option>
                            </select>
                        </div>
                        <div class="col-12 col-md-6 mb-3">
                            <label class="form-label" for="birthday">Preferencias</label>
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" value="" id="smartphones" name="preference">
                                        <label class="form-check-label" for="smartphones">
                                          Smartphones
                                        </label>
                                      </div>
                                      <div class="form-check">
                                        <input class="form-check-input" type="radio" value="" id="tablets" name="preference">
                                        <label class="form-check-label" for="tablets">
                                          Tablets
                                        </label>
                                      </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" value="" id="laptos" name="preference">
                                        <label class="form-check-label" for="laptos">
                                          Computadoras
                                        </label>
                                      </div>
                                      <div class="form-check">
                                        <input class="form-check-input" type="radio" value="" id="all" name="preference">
                                        <label class="form-check-label" for="all">
                                          Todos
                                        </label>
                                      </div>
                                </div>
                                 
                            </div>
                        </div>
                        <div class="col-12 col-md-6 mb-3">
                            <label class="form-check-label" for="about">
                                Acerca de mí
                              </label>
                            <textarea style="resize: none;" name="about" id="about" rows="5" class="form-control"></textarea>
                        </div>
                        <div class="d-flex justify-content-end">
                            <button class="btn btn-dark">Registrate</button>
                        </div>
                    </form>
                  </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>