<header class="home__header">
    <div class="home__header--top">
        <a href="/"><img src="/images/logo.png" alt=""></a>
        <button class="home__header--bars">
            <i class="fas fa-bars fa-lg"></i>
        </button>
    </div>
    <nav class="home__header--menu">
        <ul>
            <li><a href="">Categorias</a></li>
        </ul>
        <ul>
            <% if (!locals.userLogin) { %>
                <li><a href="/users/login">login</a></li>
                <li><a href="/users/register">registro</a></li>
            <% }else{ %>
                <% if (userLogin.rol === 1) { %>
                    <li><a href="/admin">admin</a></li>
                <% } %>
                <button id="btn-cart" type="button" class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <i class="fa-solid fa-cart-shopping fa-xl"></i>
                  </button>
                <li><a href="/users/profile">Hola <%= userLogin.name %>!</a></li>
                <li><a href="/users/logout">Salir</a></li>
            <% } %>

        </ul>
    </nav>
</header>

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Mi carrito</h1>
        </div>
        <div class="modal-body" id="cart-body">
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Vaciar carrito</button>
          <button type="button" class="btn btn-success" data-bs-dismiss="modal">Seguir comprando</button>
          <button type="button" class="btn btn-primary">Finalizar compra</button>
        </div>
      </div>
    </div>
  </div>